<mat-card-title>Add another Profile</mat-card-title>
<form [formGroup]="addProfileForm" class="add-child-form">
  <mat-form-field class="example-full-width">
    <mat-label>Firstname</mat-label>
    <input matInput placeholder="Firstname" formControlName="firstname" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Lastname</mat-label>
    <input matInput placeholder="Lastname" formControlName="lastname" value="">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a birthdate</mat-label>
    <input formControlName="birthdate" matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
    <button mat-raised-button color="primary" type="submit" (click)="addProfile(addProfileForm.value)">Submit</button>
</form>
