<table *ngIf="displayData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="birthdate">

    <th mat-header-cell *matHeaderCellDef> Birthdate</th>

    <td mat-cell *matCellDef="let person"> {{person.birthdate | date : 'dd.MM.yyyy'}} </td>

  </ng-container>

  <ng-container matColumnDef="children">

    <th mat-header-cell *matHeaderCellDef> Children</th>

    <td mat-cell *matCellDef="let person"> {{person.children}} </td>

  </ng-container>

  <ng-container matColumnDef="email">

    <th mat-header-cell *matHeaderCellDef> Email</th>

    <td mat-cell *matCellDef="let person"> {{person.email}} </td>

  </ng-container>

  <ng-container matColumnDef="firstname">

    <th mat-header-cell *matHeaderCellDef> Firstname</th>

    <td mat-cell *matCellDef="let person"> {{person.firstname}} </td>

  </ng-container>

  <ng-container matColumnDef="impfungen">

    <th mat-header-cell *matHeaderCellDef> Vaccines</th>

    <td mat-cell *matCellDef="let person"> {{person.impfungen}} </td>

  </ng-container>

  <ng-container matColumnDef="lastname">

    <th mat-header-cell *matHeaderCellDef> Lastname</th>

    <td mat-cell *matCellDef="let person"> {{person.lastname}} </td>

  </ng-container>

  <ng-container matColumnDef="Action">

    <th mat-header-cell *matHeaderCellDef> Action</th>

    <td mat-cell *matCellDef="let person"><a routerLink="/profile/{{person.id}}">Click</a></td>

  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>

</table>
