<div style="position: center">
  <mat-card>

      <h1>Book an appointment</h1>
      <form>
        <div style="align: center">
        <mat-form-field appearance="fill">
          <mat-label>Choose a doctor</mat-label>
          <mat-select>
            <mat-option *ngFor="let doctor of doctors" [value]="doctor.name" (click)="selectDoctor(doctor.name)">
              {{doctor.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Suggest appointment date</mat-label>
          <input formControlName="appointment-date" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment for your doctor.</mat-label>
          <textarea matInput placeholder="Dear Dr. Stephen Strange, ..." rows="10">
            Dear {{selectedDoctor}},

            I would like to make an vaccination appointment.
            Would it be possible to get an appointment on the ......

            Kind regards,
            Hermine Granger
          </textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="bookAppointment()">Send</button>
        </div>
      </form>

  </mat-card>
</div>
