<table *ngIf="displayData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category</th>
    <td mat-cell *matCellDef="let vaccine"> {{vaccine.category}} </td>
  </ng-container>
  <ng-container matColumnDef="cycleYears">
    <th mat-header-cell *matHeaderCellDef> Cycle Years</th>
    <td mat-cell *matCellDef="let vaccine"> {{vaccine.cycle}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let vaccine"> {{vaccine.nameIllness}} </td>
  </ng-container>
  <ng-container matColumnDef="recommendedMaxAge">
    <th mat-header-cell *matHeaderCellDef> Recommended Max. Age</th>
    <td mat-cell *matCellDef="let vaccine"> {{vaccine.maxRecommendedAge}} </td>
  </ng-container>
  <ng-container matColumnDef="recommendedMinAge">
    <th mat-header-cell *matHeaderCellDef> Recommended Min. Age</th>
    <td mat-cell *matCellDef="let vaccine"> {{vaccine.minRecommendedAge}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>
