
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput [formControl]="fname">
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput [formControl]="lname">
  </mat-form-field>
</form>

<mat-form-field appearance="fill">
  <mat-label>Birthday</mat-label>
  <input matInput [matDatepicker]="picker1" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<form class="mail-form">
  <mat-form-field class="mail-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
<br>

<mat-radio-group aria-label="Gender">
  <span style="margin-right:3%;">Gender: </span>
  <mat-radio-button value="1">Female</mat-radio-button>
  <mat-radio-button value="2">Male</mat-radio-button>
</mat-radio-group>

<section>
  <div class="example-button-row">
    <button mat-raised-button (click)="onSave()" color="primary">Save</button>
  </div>
</section>
<br>
<mat-list *ngIf="displayData">
  <div mat-subheader>Add a vaccine</div>
  <mat-list-item *ngFor="let vaccine of allPossibleVaccines">
    <button mat-button (click)="addVaccine(vaccine)">
      <mat-icon mat-list-icon>local_hospital</mat-icon>
      {{vaccine.nameIllness}}
    </button>
  </mat-list-item>
</mat-list>

<mat-list *ngIf="displayData">
  <div mat-subheader>Person vaccines</div>
  <mat-list-item *ngFor="let vaccine of personVaccinesShow">
    <div mat-line>{{vaccine.nameIllness}}</div>
    <div mat-line> {{vaccine.lastShot | date}} </div>
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>
<mat-form-field>
  <mat-label>Child name?</mat-label>
  <input matInput [(ngModel)]="childName">
</mat-form-field>
<button mat-raised-button color="primary" (click)="addChild()">Add</button>
<mat-list *ngIf="displayData">
  <div mat-subheader>The children</div>
  <mat-list-item *ngFor="let child of children">
    <div mat-line>{{child}}</div>
  </mat-list-item>
</mat-list>
